body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid rgb(163, 163, 163);
   
    width: 600px;
}

h1 {
    color: #333;
}

.wybory {
    margin-bottom: 20px;
}

.papier, .kamien, .nozyce {
    color: black;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    background-color: #bdbdbd;
    border: 1px solid;
    
}
.papier:hover {
    background-color: red;
    }

.kamien:hover {
    background-color: rgb(255, 166, 0);
    }

.nozyce:hover {
    background-color: rgb(243, 200, 6);   
    }


#wynik1, #wynik2 {
    font-size: 20px;
    
}

#wynik3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#punkty b {
    font-size: 18px;
}

