*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#start {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
    width: 60%;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.1bf1OMmG5xM9Lo6HnWJrfgHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    color: white;
    padding: 1%;
    border: 2px solid black;
    border-radius: 15px;
    float: left;
    min-height: 25%;
}

h2 {
    position: absolute; 
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 75px;
}
#mikolaj {
    display: none;
    position: absolute;
    font-size: 140px;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
}

#wyniki{
    position: absolute;
    font-size: 75px;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    border: none;
}
#wyniktekst{
    position: absolute;
    font-size: 75px;
    left: 45%;
    top: 90%;
    transform: translate(-50%, -50%);
    border: none;
}

.opcje{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border: none;
    font-size: 25px;
}

.suwak{
    width:50%;
    float: right;

}

#speed{
    width: 70%;
    direction: rtl;
  
}


#wygrana {
    position: absolute; 
    left: 50%;
    top: 50%;
    
    transform: translate(-50%, -50%);
    font-size: 10vh;
    width: 60%;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.1bf1OMmG5xM9Lo6HnWJrfgHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    color: white;
    padding: 1%;
    border: 2px solid black;
    border-radius: 15px;
    z-index: -1;
    float: left;
    min-height: 25%;
}

#koniec {
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vh;
    width: 60%;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.1bf1OMmG5xM9Lo6HnWJrfgHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    color: white;
    padding: 1%;
    border: 2px solid black;
    border-radius: 15px;
    z-index: -2;
    float: left;
    min-height: 25%;

}

#glosnosc{
    margin-left: 0;
    margin-top: 0;
    width:5%;
}

.buttonMuzyka{
    background: none;
    border: none;
}

@media only screen and (max-width: 1420px) {
   #start, #wygrana, #koniec{
    font-size: 8vh;

   }
   #glosnosc{
    width: 20%;
}
  }

  @media only screen and (max-width: 1100px) {
    #start, #wygrana, #koniec{
    font-size: 5vh;
    min-height: 15%;
    }
    #glosnosc{
        width: 20%;
    }
   }

   @media only screen and (max-width: 900px) {
    #start, #wygrana, #koniec{
    font-size: 5vh;
    min-height: 15%;
    }

    #label, #label2, #label3, #wybor, #wyborlosowo{
        font-size: 2vh;
        float: left;
    }
    #glosnosc{
        width: 20%;
    }
   }

   @media only screen and (max-width: 650px) {
    #start, #wygrana, #koniec{
    font-size: 4vh;
    min-height: 15%;
    }

    #label, #label2, #label3, #wybor, #wyborlosowo{
        font-size: 2.5vh;
        float: left;
    }

    .suwak{
        width: 100%;
    }

    #label2, #wyborlosowo{
        float: right;
    }
    #glosnosc{
        width: 20%;
    }

   }

   @media only screen and (max-width: 450px) {
    #start, #wygrana, #koniec{
    font-size: 3vh;
    min-height: 12%;
    }

    #label, #label2, #label3, #wybor, #wyborlosowo{
        font-size: 2.5vh;
        float: left;
    }

    .suwak{
        width: 100%;
    }

    #label2, #wyborlosowo{
        float: right;
    }
    
    #label3{
        display: none;
    }

    .opcje{
        top: 65%;
    }

    #glosnosc{
        width: 20%;
    }


   }